workflows/02_WhatsApp_HR_Chatbot.json
{
  "name": "WhatsApp HR BMW U11 Chatbot v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bmw-u11",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node_trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "whatsapp-bmw-u11"
    },
    {
      "parameters": {
        "jsCode": "// Format Green API webhook\nconst body = $input.first().json.body || $input.first().json;\nconst typeWebhook = body.typeWebhook || '';\n\n// Accepter messages entrants ET sortants (auto-test depuis le même numéro)\nconst isIncoming = typeWebhook === 'incomingMessageReceived';\nconst isOutgoing = typeWebhook === 'outgoingMessageReceived';\n\nif (!isIncoming && !isOutgoing) {\n  return [{ json: { _ignore: true, typeWebhook } }];\n}\n\nconst msgData    = body.messageData || {};\nconst textMsg    = msgData.textMessageData || msgData.extendedTextMessageData || {};\nconst senderData = body.senderData || {};\n\nconst message = (textMsg.textMessage || textMsg.text || '').trim();\nconst msgId   = msgData.idMessage || body.idMessage || '';\nconst chatId  = senderData.chatId || senderData.sender || '';\n\n// Pour messages sortants (auto-test): répondre au destinataire (chatId)\n// Pour messages entrants: répondre à l'expéditeur (sender)\nconst rawPhone = isIncoming\n  ? (senderData.sender || '')\n  : (senderData.chatId || '');\nconst phone = rawPhone.replace('@c.us','').replace(/\\D/g,'');\n\nif (!phone || !message) {\n  return [{ json: { _ignore: true, reason: 'no phone or message' } }];\n}\n\n// Anti-boucle: ignorer les réponses envoyées par le bot lui-même\nconst BOT_PREFIXES = ['📊','✅','❌','🤖','📅','⚠️'];\nif (isOutgoing && BOT_PREFIXES.some(p => message.startsWith(p))) {\n  return [{ json: { _ignore: true, reason: 'bot_loop_prevention' } }];\n}\n\nreturn [{ json: {\n  phone_number: '+' + phone,\n  chat_id: chatId,\n  message_text: message,\n  message_id: msgId,\n  timestamp: body.timestamp || Date.now()\n}}];"
      },
      "id": "node_extract",
      "name": "Extraire Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node_skip",
      "name": "Message valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT phone_number, full_name, role, allowed_scope_type, allowed_scope_value, language_pref FROM allowed_whatsapp_users WHERE phone_number = '{{ $json.phone_number }}' AND is_active = TRUE LIMIT 1;",
        "options": {}
      },
      "id": "node_check_user",
      "name": "Vérifier Utilisateur",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "NEON_CRED_ID",
          "name": "Neon PostgreSQL - HR BMW U11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('Extraire Message').first().json;\nconst dbRows = $input.all();\nconst user = dbRows.length > 0 && dbRows[0].json?.phone_number ? dbRows[0].json : null;\n\nif (!user) {\n  return [{ json: { ...msgData, authorized: false, user_role: null, allowed_scope_type: null, allowed_scope_value: null } }];\n}\nreturn [{ json: {\n  ...msgData, authorized: true,\n  user_role: user.role, user_name: user.full_name,\n  allowed_scope_type: user.allowed_scope_type,\n  allowed_scope_value: user.allowed_scope_value,\n  language_pref: user.language_pref || 'fr'\n}}];"
      },
      "id": "node_auth_result",
      "name": "Résultat Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "node_auth_gate",
      "name": "Autorisé ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NLP AVANCÉ — Détection langue + intent + métrique + scope\n// ⚠️  ML = Maladie | MD = Mise en demeure | SÉPARÉS\n// ============================================================\nconst data = $input.first().json;\nconst rawText = data.message_text || '';\nconst t = rawText.toLowerCase().trim();\n\n// --- WHITELIST MÉTRIQUES (sécurité SQL) ---\nconst ALLOWED_METRICS = new Set([\n  'actif','present','nb_abs','p','np','sq','ac','rv',\n  'ml','md','maladie','mise_en_demeure',\n  'abs_p_rate','abs_np_rate','total_abs','taux_presence',\n  'heures_presence','retard','heures_sup','soll','ist','delta'\n]);\n\n// --- Langue ---\nfunction detectLang(t) {\n  if (/[\\u0600-\\u06FF]/.test(t)) return 'ar';\n  const tn = ['a3tini','9adech','chnowa','chkoun','mta3','lyoum','fi ','barsha','waqteh','chbih','akther','fih','bech','3andek','ma3ndich'];\n  if (tn.some(w => t.includes(w))) return 'tn';\n  return 'fr';\n}\n\n// --- Date ---\nfunction detectDate(t) {\n  const iso = t.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  if (iso) return { mode: 'specific', date: iso[0] };\n  const dmy = t.match(/(\\d{1,2})[/\\-](\\d{1,2})[/\\-](\\d{4})/);\n  if (dmy) return { mode: 'specific', date: `${dmy[3]}-${dmy[2].padStart(2,'0')}-${dmy[1].padStart(2,'0')}` };\n  if (/aujourd|lyoum|اليوم|today/.test(t)) return { mode: 'today', date: null };\n  if (/hier|امس|yesterday/.test(t)) return { mode: 'yesterday', date: null };\n  return { mode: 'latest', date: null };\n}\n\n// --- Métrique (avec whitelist) ---\nfunction detectMetric(t) {\n  // Taux NP\n  if (/taux.*np|pourcentage.*np|%.*np|نسبة.*np|chnowa.*np|taux abs np|abs np rate/.test(t)) return 'abs_np_rate';\n  // Taux P\n  if (/taux.*\\bp\\b|pourcentage.*\\bp\\b|%.*\\bp\\b|taux abs p|abs p rate/.test(t)) return 'abs_p_rate';\n  // Taux présence\n  if (/taux.*pré|taux.*presence|نسبة.*حضور|taux presence/.test(t)) return 'taux_presence';\n  // NP\n  if (/\\bnp\\b|absence np|abs np|non plan|غياب.*غير|ghiyeb non/.test(t)) return 'np';\n  // P\n  if (/\\bp\\b|absence planif|abs p|غياب.*مخطط/.test(t) && !/np/.test(t)) return 'p';\n  // SQ\n  if (/\\bsq\\b|sans questionnaire|sans quest/.test(t)) return 'sq';\n  // AC\n  if (/\\bac\\b|absence continue|abs continue/.test(t)) return 'ac';\n  // RV\n  if (/\\brv\\b|rendez.vous|رnd/.test(t)) return 'rv';\n  // ML / Maladie (SEULEMENT ml, pas md)\n  if (/\\bml\\b|maladie(?! légale.*md)|maladies(?! légale.*md)|مرض|maradh|nombre.*malad|malad/.test(t) && !/mise en demeure|\\bmd\\b/.test(t)) return 'maladie';\n  // MD / Mise en demeure (SEULEMENT md)\n  if (/\\bmd\\b|mise en demeure/.test(t)) return 'mise_en_demeure';\n  // Delta\n  if (/\\bdelta\\b|soll.*ist|ist.*soll|écart/.test(t)) return 'delta';\n  // Soll\n  if (/\\bsoll\\b|planifié h/.test(t) && !/ist/.test(t)) return 'soll';\n  // IST\n  if (/\\bist\\b|heures réelles/.test(t) && !/soll/.test(t)) return 'ist';\n  // Heures sup\n  if (/h.*sup|heures sup|hsup|heures supplémentaires/.test(t)) return 'heures_sup';\n  // Retard\n  if (/retard|تأخر/.test(t)) return 'retard';\n  // Actif\n  if (/actif|effectif|workforce/.test(t) && !/total|absence/.test(t)) return 'actif';\n  // Présent\n  if (/présent|present|حاضر/.test(t) && !/taux/.test(t)) return 'present';\n  // Total abs / résumé\n  if (/résumé|resume|ملخص|tous.*indicateurs|all.*indicator|chiffres/.test(t)) return 'summary';\n  // Fallback\n  if (/total.*abs|nombre.*abs|combien.*abs|9adech.*abs|قداش.*غياب/.test(t)) return 'total_abs';\n  return 'total_abs';\n}\n\n// --- Scope ---\nfunction detectScope(t, userRole, scopeType, scopeVal) {\n  // Groupe G-XXX\n  const gMatch = t.match(/\\b(g[-.]?\\d{3,4}|g\\s\\d{3,4})\\b/i);\n  if (gMatch) return { type: 'group_name', value: gMatch[0].replace(/[\\s.]/g,'-').toUpperCase() };\n  // Périmètre connu\n  const perims = ['pgtf','wpa','shelf modulaire','basis','muster','logistique','logistics','quality','maintenance'];\n  for (const p of perims) if (t.includes(p)) return { type: 'perimeter', value: p.toUpperCase() };\n  // Process\n  const procs = ['assembly','assemblage','montage','test','paint','peinture','body','karosserie','trim','chassis'];\n  for (const p of procs) if (t.includes(p)) return { type: 'process', value: p.charAt(0).toUpperCase()+p.slice(1) };\n  // Circuit\n  const cMatch = t.match(/\\b(circuit\\s*)?(c\\d{1,2})\\b/i);\n  if (cMatch) return { type: 'circuit', value: cMatch[cMatch.length-1].toUpperCase() };\n  // Area\n  const aMatch = t.match(/area\\s+([\\w-]+)|zone\\s+([\\w-]+)/);\n  if (aMatch) return { type: 'area', value: (aMatch[1]||aMatch[2]).toUpperCase() };\n  // Plant global\n  if (/bmw u11|plant|مصنع|الكل|tout le plant/.test(t)) return { type: 'plant', value: 'BMW U11' };\n  // Scope superviseur\n  if (userRole === 'supervisor' && scopeType && scopeVal) return { type: scopeType, value: scopeVal };\n  return { type: 'plant', value: 'BMW U11' };\n}\n\n// --- Intent ---\nfunction detectIntent(t, metric) {\n  if (metric === 'summary') return 'get_summary';\n  if (/compare|vs\\b|versus|بالمقارنة|compare.*entre/.test(t)) return 'compare';\n  if (/plus.*abs|akther.*fih|أكثر.*غياب|le plus|top|classement/.test(t)) return 'top';\n  return 'get_metric';\n}\n\nconst lang = detectLang(t);\nconst dateInfo = detectDate(t);\nconst metric = detectMetric(t);\nconst scope = detectScope(t, data.user_role, data.allowed_scope_type, data.allowed_scope_value);\nconst intent = detectIntent(t, metric);\n\n// Vérification whitelist métrique\nconst safeMetric = (metric === 'summary') ? 'summary' : (ALLOWED_METRICS.has(metric) ? metric : 'total_abs');\n\nreturn [{ json: {\n  ...data,\n  nlp: {\n    language: lang, intent,\n    metric: safeMetric, metric_raw: metric,\n    scope_type: scope.type, scope_value: scope.value,\n    date_mode: dateInfo.mode, date: dateInfo.date,\n    raw_text: rawText\n  }\n}}];"
      },
      "id": "node_nlp",
      "name": "NLP — Analyse Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONSTRUCTION REQUÊTE SQL SÉCURISÉE\n// - Whitelist métriques\n// - Paramètres préparés (via placeholders n8n)\n// - LECTURE SEULE — jamais de DELETE/UPDATE/DROP\n// - Scope superviseur respecté\n// ============================================================\nconst data = $input.first().json;\nconst nlp = data.nlp;\nconst userRole = data.user_role;\nconst userScopeType = data.allowed_scope_type;\nconst userScopeValue = data.allowed_scope_value;\n\n// Résolution date\nfunction resolveDate(mode, dateVal) {\n  if (mode === 'specific' && dateVal) return `'${dateVal}'::date`;\n  if (mode === 'today') return 'CURRENT_DATE';\n  if (mode === 'yesterday') return 'CURRENT_DATE - INTERVAL \\'1 day\\'';\n  return '(SELECT MAX(report_date) FROM daily_hr_report)';\n}\nconst dateExpr = resolveDate(nlp.date_mode, nlp.date);\n\n// Restriction scope superviseur\nfunction getScopeFilter(scopeType, scopeValue, userRole, userScopeType, userScopeValue) {\n  let type = scopeType; let val = scopeValue;\n  // Superviseur ne peut voir que son scope\n  if (userRole === 'supervisor' && userScopeType && userScopeValue) {\n    // Si demande cohérente avec son scope ou plus large, on restreint\n    if (type === 'plant' || type === 'all') { type = userScopeType; val = userScopeValue; }\n    // Si demande d'un autre scope que le sien : refuser\n    else if (type !== userScopeType || val.toUpperCase() !== userScopeValue.toUpperCase()) {\n      return { filter: `1=0`, scopeLabel: 'Non autorisé' }; // Aucun résultat\n    }\n  }\n  const colMap = { 'group_name':'group_name','perimeter':'perimeter','process':'process','circuit':'circuit','area':'area','plant':'plant' };\n  const col = colMap[type] || 'plant';\n  if (type === 'plant') return { filter: `plant ILIKE '${val.replace(/'/g,\"''\")}' `, scopeLabel: val };\n  return { filter: `${col} ILIKE '%${val.replace(/'/g,\"''\")}%'`, scopeLabel: val };\n}\n\n// Groupe BY selon scope\nconst scopeCols = {\n  'plant': 'plant',\n  'perimeter': 'perimeter',\n  'process': 'process',\n  'circuit': 'circuit',\n  'group_name': 'group_name',\n  'area': 'area'\n};\nconst groupCol = scopeCols[nlp.scope_type] || 'plant';\n\nconst { filter, scopeLabel } = getScopeFilter(\n  nlp.scope_type, nlp.scope_value,\n  userRole, userScopeType, userScopeValue\n);\n\nlet query = '';\n\nif (nlp.intent === 'get_summary') {\n  // RÉSUMÉ COMPLET — tous les indicateurs\n  query = `\nSELECT\n  report_date, ${groupCol} AS scope_label,\n  SUM(actif) AS actif, SUM(present) AS present,\n  SUM(nb_abs) AS nb_abs, SUM(p) AS p, SUM(np) AS np,\n  SUM(sq) AS sq, SUM(ac) AS ac, SUM(rv) AS rv,\n  SUM(ml) AS maladie,\n  SUM(md) AS mise_en_demeure,\n  SUM(total_abs) AS total_abs,\n  ROUND(SUM(np)/NULLIF(SUM(actif),0)*100,2) AS abs_np_rate,\n  ROUND(SUM(p)/NULLIF(SUM(actif),0)*100,2) AS abs_p_rate,\n  ROUND(SUM(present)/NULLIF(SUM(actif),0)*100,2) AS taux_presence,\n  SUM(retard) AS retard, SUM(heures_sup) AS heures_sup,\n  SUM(soll) AS soll, SUM(ist) AS ist,\n  ROUND(SUM(ist)-SUM(soll),2) AS delta\nFROM daily_hr_report\nWHERE report_date = ${dateExpr} AND ${filter}\nGROUP BY report_date, ${groupCol};`;\n\n} else if (nlp.intent === 'top') {\n  // TOP 5 par métrique\n  const metric = nlp.metric === 'maladie' ? 'ml' :\n                 nlp.metric === 'mise_en_demeure' ? 'md' : nlp.metric;\n  const safeM = /^[a-z_]+$/.test(metric) ? metric : 'np';\n  query = `\nSELECT\n  report_date, ${groupCol} AS scope_label,\n  SUM(${safeM}) AS value,\n  SUM(actif) AS actif\nFROM daily_hr_report\nWHERE report_date = ${dateExpr} AND ${filter}\nGROUP BY report_date, ${groupCol}\nORDER BY value DESC NULLS LAST\nLIMIT 5;`;\n\n} else {\n  // get_metric : requête sur un indicateur précis\n  // Mapping métrique vers colonne SQL\n  const metricColMap = {\n    'actif': 'SUM(actif) AS actif',\n    'present': 'SUM(present) AS present',\n    'nb_abs': 'SUM(nb_abs) AS nb_abs',\n    'p': 'SUM(p) AS p, SUM(actif) AS actif, ROUND(SUM(p)/NULLIF(SUM(actif),0)*100,2) AS abs_p_rate',\n    'np': 'SUM(np) AS np, SUM(actif) AS actif, ROUND(SUM(np)/NULLIF(SUM(actif),0)*100,2) AS abs_np_rate',\n    'sq': 'SUM(sq) AS sq',\n    'ac': 'SUM(ac) AS ac',\n    'rv': 'SUM(rv) AS rv',\n    'ml': 'SUM(ml) AS maladie',                                   // ML = maladie seulement\n    'maladie': 'SUM(ml) AS maladie',                              // alias\n    'md': 'SUM(md) AS mise_en_demeure',                           // MD = mise en demeure seulement\n    'mise_en_demeure': 'SUM(md) AS mise_en_demeure',              // alias\n    'abs_np_rate': 'SUM(np) AS np, SUM(actif) AS actif, ROUND(SUM(np)/NULLIF(SUM(actif),0)*100,2) AS abs_np_rate',\n    'abs_p_rate': 'SUM(p) AS p, SUM(actif) AS actif, ROUND(SUM(p)/NULLIF(SUM(actif),0)*100,2) AS abs_p_rate',\n    'total_abs': 'SUM(total_abs) AS total_abs, SUM(p) AS p, SUM(np) AS np',\n    'taux_presence': 'SUM(present) AS present, SUM(actif) AS actif, ROUND(SUM(present)/NULLIF(SUM(actif),0)*100,2) AS taux_presence',\n    'heures_presence': 'SUM(heures_presence) AS heures_presence',\n    'retard': 'SUM(retard) AS retard',\n    'heures_sup': 'SUM(heures_sup) AS heures_sup',\n    'soll': 'SUM(soll) AS soll, SUM(ist) AS ist, ROUND(SUM(ist)-SUM(soll),2) AS delta',\n    'ist': 'SUM(ist) AS ist, SUM(soll) AS soll, ROUND(SUM(ist)-SUM(soll),2) AS delta',\n    'delta': 'SUM(soll) AS soll, SUM(ist) AS ist, ROUND(SUM(ist)-SUM(soll),2) AS delta'\n  };\n  const selectExpr = metricColMap[nlp.metric] || 'SUM(total_abs) AS total_abs';\n  query = `\nSELECT\n  report_date, ${groupCol} AS scope_label,\n  ${selectExpr}\nFROM daily_hr_report\nWHERE report_date = ${dateExpr} AND ${filter}\nGROUP BY report_date, ${groupCol};`;\n}\n\nreturn [{ json: { ...data, sql_query: query.trim(), scope_label: scopeLabel, date_expr: dateExpr } }];"
      },
      "id": "node_build_sql",
      "name": "Construire SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}",
        "options": {}
      },
      "id": "node_sql",
      "name": "Exécuter SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "NEON_CRED_ID",
          "name": "Neon PostgreSQL - HR BMW U11"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FORMATEUR RÉPONSE MULTILINGUE — tous indicateurs\n// ⚠️  ML = Maladie | MD = Mise en demeure | SÉPARÉS\n// ============================================================\nconst nlpData = $('NLP — Analyse Question').first().json;\nconst nlp = nlpData.nlp;\nconst sqlData = $('Construire SQL').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.scope_label);\nconst lang = nlp.language;\nconst metric = nlp.metric;\nconst scope = sqlData.scope_label || nlp.scope_value || 'BMW U11';\n\nfunction fmt(v, dec=1) { if(v===null||v===undefined)return'N/D'; return Number(v).toFixed(dec); }\nfunction fmtDate(d) {\n  if (!d) return 'N/D';\n  try { return new Date(d).toLocaleDateString('fr-TN',{day:'2-digit',month:'2-digit',year:'numeric'}); }\n  catch(e) { return d; }\n}\n\n// Pas de données\nif (!rows || rows.length === 0) {\n  const noData = {\n    fr: `⚠️ Aucune donnée disponible pour *${scope}*.\\n\\nVérifiez que le rapport a été importé pour cette date ou ce périmètre.`,\n    ar: `⚠️ لا توجد بيانات متاحة لـ *${scope}*.\\n\\nتأكد من استيراد التقرير لهذا التاريخ أو النطاق.`,\n    tn: `⚠️ Makatech data disponible pour *${scope}*.\\n\\nVérifiez li el rapport importé wala le.`\n  };\n  return [{ json: {\n    response_text: noData[lang] || noData.fr,\n    phone_number: nlpData.phone_number, phone_number_id: nlpData.phone_number_id, wa_id: nlpData.wa_id\n  }}];\n}\n\n// Agréger toutes les lignes\nconst agg = rows.reduce((a,r) => {\n  ['actif','present','nb_abs','p','np','sq','ac','rv','ml','md','maladie','mise_en_demeure',\n   'total_abs','heures_presence','retard','heures_sup','soll','ist'].forEach(k => {\n    a[k] = (a[k]||0) + (parseFloat(r[k])||0);\n  });\n  a.report_date = r.report_date;\n  a.scope_label = r.scope_label;\n  return a;\n}, {});\n\n// Recalculer les taux agrégés\nagg.abs_np_rate  = agg.actif ? Math.round(agg.np/agg.actif*10000)/100 : (rows[0]?.abs_np_rate||0);\nagg.abs_p_rate   = agg.actif ? Math.round(agg.p/agg.actif*10000)/100 : (rows[0]?.abs_p_rate||0);\nagg.taux_presence= agg.actif ? Math.round(agg.present/agg.actif*10000)/100 : (rows[0]?.taux_presence||0);\nagg.delta        = (rows[0]?.delta!==undefined) ? parseFloat(rows[0].delta)||Math.round((agg.ist-agg.soll)*100)/100 : Math.round((agg.ist-agg.soll)*100)/100;\n\n// ⚠️  maladie = ml seulement | mise_en_demeure = md seulement\nagg.maladie       = agg.ml;\nagg.mise_en_demeure = agg.md;\n\nconst dl = fmtDate(agg.report_date);\nconst topList = rows.length > 1 ? rows.map(r => `  • ${r.scope_label||'?'}: ${fmt(r.value||r.np||r.total_abs||0,0)}`).join('\\n') : null;\n\n// --- TEMPLATES ---\nfunction buildMsg(tpls) { return tpls[lang] || tpls.fr; }\n\nlet responseText = '';\n\nswitch(nlp.intent) {\n\n  case 'get_summary':\n    responseText = buildMsg({\n      fr: `📊 *Résumé ${scope}*\\n📅 Date : ${dl}\\n\\n👥 Actif : ${fmt(agg.actif,0)} | Présents : ${fmt(agg.present,0)}\\n❌ NP : ${fmt(agg.np,0)} (${fmt(agg.abs_np_rate)}%)\\n🗓️ P : ${fmt(agg.p,0)} (${fmt(agg.abs_p_rate)}%)\\n📊 Total Abs : ${fmt(agg.total_abs,0)}\\n📋 SQ : ${fmt(agg.sq,0)} | AC : ${fmt(agg.ac,0)} | RV : ${fmt(agg.rv,0)}\\n🏥 Maladie (ML) : ${fmt(agg.maladie,0)}\\n⚠️ Mise/demeure (MD) : ${fmt(agg.mise_en_demeure,0)}\\n✅ Présence : ${fmt(agg.taux_presence)}%\\n⏱️ H.Sup : ${fmt(agg.heures_sup,0)} | Retard : ${fmt(agg.retard,0)}\\n🎯 Soll : ${fmt(agg.soll,0)}h | IST : ${fmt(agg.ist,0)}h | Delta : ${agg.delta>=0?'+':''}${fmt(agg.delta)}h`,\n      ar: `📊 *ملخص ${scope}*\\n📅 التاريخ: ${dl}\\n\\n👥 العدد: ${fmt(agg.actif,0)} | الحاضرون: ${fmt(agg.present,0)}\\n❌ NP: ${fmt(agg.np,0)} (${fmt(agg.abs_np_rate)}%)\\n🗓️ P: ${fmt(agg.p,0)} (${fmt(agg.abs_p_rate)}%)\\n📊 إجمالي الغياب: ${fmt(agg.total_abs,0)}\\n📋 SQ: ${fmt(agg.sq,0)} | AC: ${fmt(agg.ac,0)} | RV: ${fmt(agg.rv,0)}\\n🏥 مرض (ML): ${fmt(agg.maladie,0)}\\n⚠️ إنذار (MD): ${fmt(agg.mise_en_demeure,0)}\\n✅ نسبة الحضور: ${fmt(agg.taux_presence)}%\\n🎯 Soll: ${fmt(agg.soll,0)}h | IST: ${fmt(agg.ist,0)}h | Delta: ${fmt(agg.delta)}h`,\n      tn: `📊 *Résumé ${scope}*\\n📅 Date: ${dl}\\n\\n👥 Actifs: ${fmt(agg.actif,0)} | Présents: ${fmt(agg.present,0)}\\n❌ NP: ${fmt(agg.np,0)} (${fmt(agg.abs_np_rate)}%)\\n🗓️ P: ${fmt(agg.p,0)} (${fmt(agg.abs_p_rate)}%)\\n📊 Total Abs: ${fmt(agg.total_abs,0)}\\n📋 SQ: ${fmt(agg.sq,0)} | AC: ${fmt(agg.ac,0)} | RV: ${fmt(agg.rv,0)}\\n🏥 Maladie ML: ${fmt(agg.maladie,0)} | Mise/dem MD: ${fmt(agg.mise_en_demeure,0)}\\n✅ Présence: ${fmt(agg.taux_presence)}%\\n🎯 Delta: ${fmt(agg.delta)}h`\n    });\n    break;\n\n  case 'top':\n    const topLines = rows.slice(0,5).map(r=>`  ${rows.indexOf(r)+1}. ${r.scope_label||'?'}: ${fmt(r.value||0,0)}`).join('\\n');\n    responseText = buildMsg({\n      fr: `🏆 *Top 5 — ${metric.toUpperCase()} — BMW U11*\\n📅 Date : ${dl}\\n\\n${topLines}`,\n      ar: `🏆 *أعلى 5 — ${metric.toUpperCase()}*\\n📅 التاريخ: ${dl}\\n\\n${topLines}`,\n      tn: `🏆 *Top 5 — ${metric.toUpperCase()}*\\n📅 Date: ${dl}\\n\\n${topLines}`\n    });\n    break;\n\n  default: // get_metric\n    const templates = {\n      np: {\n        fr:`📊 *Absence NP — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n❌ NP = ${fmt(agg.np,0)}\\n👥 Actif = ${fmt(agg.actif,0)}\\n📉 Taux NP = ${fmt(agg.abs_np_rate)}%`,\n        ar:`📊 *غياب NP — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n❌ NP = ${fmt(agg.np,0)}\\n👥 العدد = ${fmt(agg.actif,0)}\\n📉 نسبة NP = ${fmt(agg.abs_np_rate)}%`,\n        tn:`📊 *Absence NP — ${scope}*\\n📅 Date: ${dl}\\n\\n❌ NP = ${fmt(agg.np,0)} | Actif = ${fmt(agg.actif,0)}\\n📉 Taux NP = ${fmt(agg.abs_np_rate)}%`\n      },\n      p: {\n        fr:`📊 *Absence P — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n🗓️ P = ${fmt(agg.p,0)}\\n👥 Actif = ${fmt(agg.actif,0)}\\n📉 Taux P = ${fmt(agg.abs_p_rate)}%`,\n        ar:`📊 *غياب P — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n🗓️ P = ${fmt(agg.p,0)}\\n👥 العدد = ${fmt(agg.actif,0)}\\n📉 نسبة P = ${fmt(agg.abs_p_rate)}%`,\n        tn:`📊 *Absence P — ${scope}*\\n📅 Date: ${dl}\\n\\n🗓️ P = ${fmt(agg.p,0)} | Actif = ${fmt(agg.actif,0)}\\n📉 Taux P = ${fmt(agg.abs_p_rate)}%`\n      },\n      sq: {\n        fr:`📋 *Sans Questionnaire (SQ) — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n📋 SQ = ${fmt(agg.sq,0)}`,\n        ar:`📋 *بدون استبيان (SQ) — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n📋 SQ = ${fmt(agg.sq,0)}`,\n        tn:`📋 *SQ — ${scope}*\\n📅 Date: ${dl}\\n\\n📋 SQ = ${fmt(agg.sq,0)}`\n      },\n      ac: {\n        fr:`📋 *Absence Continue (AC) — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n🔁 AC = ${fmt(agg.ac,0)}`,\n        ar:`📋 *غياب متواصل (AC) — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n🔁 AC = ${fmt(agg.ac,0)}`,\n        tn:`📋 *AC — ${scope}*\\n📅 Date: ${dl}\\n\\n🔁 AC = ${fmt(agg.ac,0)}`\n      },\n      rv: {\n        fr:`📋 *Rendez-vous (RV) — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n📌 RV = ${fmt(agg.rv,0)}`,\n        ar:`📋 *مواعيد (RV) — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n📌 RV = ${fmt(agg.rv,0)}`,\n        tn:`📋 *RV — ${scope}*\\n📅 Date: ${dl}\\n\\n📌 RV = ${fmt(agg.rv,0)}`\n      },\n      maladie: {\n        fr:`🏥 *Maladie ML — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n🤒 ML (Maladie) = ${fmt(agg.maladie,0)}\\n_(Note: MD = Mise en demeure, indicateur séparé)_`,\n        ar:`🏥 *مرض ML — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n🤒 ML (مرض) = ${fmt(agg.maladie,0)}\\n_(ملاحظة: MD = إنذار، مؤشر منفصل)_`,\n        tn:`🏥 *Maladie ML — ${scope}*\\n📅 Date: ${dl}\\n\\n🤒 ML = ${fmt(agg.maladie,0)} (ML seulement, MD c'est mise en demeure)`\n      },\n      mise_en_demeure: {\n        fr:`⚠️ *Mise en demeure MD — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n⚠️ MD (Mise en demeure) = ${fmt(agg.mise_en_demeure,0)}\\n_(Note: ML = Maladie, indicateur séparé)_`,\n        ar:`⚠️ *إنذار MD — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n⚠️ MD (إنذار) = ${fmt(agg.mise_en_demeure,0)}\\n_(ملاحظة: ML = مرض، مؤشر منفصل)_`,\n        tn:`⚠️ *Mise en demeure MD — ${scope}*\\n📅 Date: ${dl}\\n\\n⚠️ MD = ${fmt(agg.mise_en_demeure,0)} (MD c'est mise en demeure, ML c'est maladie)`\n      },\n      abs_np_rate: {\n        fr:`📊 *Taux Abs NP — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n📉 Taux NP = ${fmt(agg.abs_np_rate)}%\\n   NP = ${fmt(agg.np,0)} / Actif = ${fmt(agg.actif,0)}`,\n        ar:`📊 *نسبة NP — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n📉 نسبة NP = ${fmt(agg.abs_np_rate)}%\\n   NP = ${fmt(agg.np,0)} / العدد = ${fmt(agg.actif,0)}`,\n        tn:`📊 *Taux NP — ${scope}*\\n📅 Date: ${dl}\\n\\n📉 Taux NP = ${fmt(agg.abs_np_rate)}% — NP = ${fmt(agg.np,0)} / Actif = ${fmt(agg.actif,0)}`\n      },\n      abs_p_rate: {\n        fr:`📊 *Taux Abs P — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n📉 Taux P = ${fmt(agg.abs_p_rate)}%\\n   P = ${fmt(agg.p,0)} / Actif = ${fmt(agg.actif,0)}`,\n        ar:`📊 *نسبة P — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n📉 نسبة P = ${fmt(agg.abs_p_rate)}%`,\n        tn:`📊 *Taux P — ${scope}*\\n📅 Date: ${dl}\\n\\n📉 Taux P = ${fmt(agg.abs_p_rate)}% — P = ${fmt(agg.p,0)} / Actif = ${fmt(agg.actif,0)}`\n      },\n      total_abs: {\n        fr:`📊 *Total Absences — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n👥 Actif : ${fmt(agg.actif,0)}\\n❌ NP : ${fmt(agg.np,0)} | 🗓️ P : ${fmt(agg.p,0)}\\n📊 Total Abs = ${fmt(agg.total_abs,0)}`,\n        ar:`📊 *إجمالي الغيابات — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n👥 العدد: ${fmt(agg.actif,0)}\\n❌ NP: ${fmt(agg.np,0)} | 🗓️ P: ${fmt(agg.p,0)}\\n📊 الإجمالي = ${fmt(agg.total_abs,0)}`,\n        tn:`📊 *Total Abs — ${scope}*\\n📅 Date: ${dl}\\n\\n👥 Actif: ${fmt(agg.actif,0)} | NP: ${fmt(agg.np,0)} | P: ${fmt(agg.p,0)}\\n📊 Total = ${fmt(agg.total_abs,0)}`\n      },\n      taux_presence: {\n        fr:`✅ *Taux Présence — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n✅ Taux = ${fmt(agg.taux_presence)}%\\n   Présents = ${fmt(agg.present,0)} / Actif = ${fmt(agg.actif,0)}`,\n        ar:`✅ *نسبة الحضور — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n✅ النسبة = ${fmt(agg.taux_presence)}%\\n   الحاضرون = ${fmt(agg.present,0)} / العدد = ${fmt(agg.actif,0)}`,\n        tn:`✅ *Présence — ${scope}*\\n📅 Date: ${dl}\\n\\n✅ ${fmt(agg.taux_presence)}% — Présents: ${fmt(agg.present,0)} / Actif: ${fmt(agg.actif,0)}`\n      },\n      delta: {\n        fr:`⚖️ *Delta Soll/IST — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n🎯 Soll = ${fmt(agg.soll,0)}h\\n✅ IST  = ${fmt(agg.ist,0)}h\\n📊 Delta = ${agg.delta>=0?'+':''}${fmt(agg.delta)}h`,\n        ar:`⚖️ *Delta Soll/IST — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n🎯 Soll = ${fmt(agg.soll,0)}h\\n✅ IST = ${fmt(agg.ist,0)}h\\n📊 Delta = ${fmt(agg.delta)}h`,\n        tn:`⚖️ *Delta — ${scope}*\\n📅 Date: ${dl}\\n\\n🎯 Soll: ${fmt(agg.soll,0)}h | IST: ${fmt(agg.ist,0)}h\\n📊 Delta = ${agg.delta>=0?'+':''}${fmt(agg.delta)}h`\n      },\n      retard: {\n        fr:`⏰ *Retards — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n⏰ Retards = ${fmt(agg.retard,0)} cas`,\n        ar:`⏰ *تأخيرات — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n⏰ تأخيرات = ${fmt(agg.retard,0)}`,\n        tn:`⏰ *Retards — ${scope}*\\n📅 Date: ${dl}\\n\\n⏰ ${fmt(agg.retard,0)} cas de retard`\n      },\n      heures_sup: {\n        fr:`⏱️ *Heures Sup — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n⏱️ H.Sup = ${fmt(agg.heures_sup,0)}h`,\n        ar:`⏱️ *ساعات إضافية — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n⏱️ H.Sup = ${fmt(agg.heures_sup,0)}h`,\n        tn:`⏱️ *H.Sup — ${scope}*\\n📅 Date: ${dl}\\n\\n⏱️ ${fmt(agg.heures_sup,0)}h supplémentaires`\n      },\n      actif: {\n        fr:`👥 *Effectif Actif — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n👥 Actif = ${fmt(agg.actif,0)}`,\n        ar:`👥 *العدد الفعلي — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n👥 العدد = ${fmt(agg.actif,0)}`,\n        tn:`👥 *Actif — ${scope}*\\n📅 Date: ${dl}\\n\\n👥 ${fmt(agg.actif,0)} personnes`\n      },\n      present: {\n        fr:`✅ *Présents — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n✅ Présents = ${fmt(agg.present,0)} / Actif = ${fmt(agg.actif,0)}\\n📈 Taux = ${fmt(agg.taux_presence)}%`,\n        ar:`✅ *الحاضرون — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n✅ الحاضرون = ${fmt(agg.present,0)} / العدد = ${fmt(agg.actif,0)}`,\n        tn:`✅ *Présents — ${scope}*\\n📅 Date: ${dl}\\n\\n✅ ${fmt(agg.present,0)} présents / ${fmt(agg.actif,0)} actifs`\n      },\n      soll: {\n        fr:`🎯 *Soll — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n🎯 Soll = ${fmt(agg.soll,0)}h\\n✅ IST = ${fmt(agg.ist,0)}h\\n📊 Delta = ${agg.delta>=0?'+':''}${fmt(agg.delta)}h`,\n        ar:`🎯 *Soll — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n🎯 Soll = ${fmt(agg.soll,0)}h | IST = ${fmt(agg.ist,0)}h`,\n        tn:`🎯 *Soll — ${scope}*\\n📅 Date: ${dl}\\n\\nSoll = ${fmt(agg.soll,0)}h | IST = ${fmt(agg.ist,0)}h | Delta = ${fmt(agg.delta)}h`\n      },\n      ist: {\n        fr:`✅ *IST — ${scope}*\\n📅 Date rapport : ${dl}\\n\\n✅ IST = ${fmt(agg.ist,0)}h\\n🎯 Soll = ${fmt(agg.soll,0)}h\\n📊 Delta = ${agg.delta>=0?'+':''}${fmt(agg.delta)}h`,\n        ar:`✅ *IST — ${scope}*\\n📅 التاريخ: ${dl}\\n\\n✅ IST = ${fmt(agg.ist,0)}h | Soll = ${fmt(agg.soll,0)}h`,\n        tn:`✅ *IST — ${scope}*\\n📅 Date: ${dl}\\n\\nIST = ${fmt(agg.ist,0)}h | Soll = ${fmt(agg.soll,0)}h | Delta = ${fmt(agg.delta)}h`\n      }\n    };\n    const tpl = templates[metric] || templates.total_abs;\n    responseText = tpl[lang] || tpl.fr;\n    break;\n}\n\nreturn [{ json: {\n  response_text: responseText,\n  phone_number: nlpData.phone_number,\n  phone_number_id: nlpData.phone_number_id,\n  wa_id: nlpData.wa_id\n}}];"
      },
      "id": "node_format_response",
      "name": "Formater Réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7107.api.greenapi.com/waInstance7107665040/sendMessage/c550d04c1dde4c11af75f8a7fd04a0bb633108512ec34e8bba",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chatId": "={{ $('Formater Réponse').first().json.chat_id }}",
          "message": "={{ $('Formater Réponse').first().json.response_text }}"
        },
        "options": {}
      },
      "id": "node_send",
      "name": "Envoyer WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7107.api.greenapi.com/waInstance7107665040/sendMessage/c550d04c1dde4c11af75f8a7fd04a0bb633108512ec34e8bba",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chatId": "={{ $('Extraire Message').first().json.chat_id }}",
          "message": "🚫 Désolé, votre numéro n'est pas autorisé à utiliser HR BMW U11 Chatbot.\n\nContactez votre responsable RH."
        },
        "options": {}
      },
      "id": "node_unauthorized",
      "name": "Non Autorisé",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1500,
        500
      ]
    },
    {
      "id": "a2000001-0000-0000-0000-000000000001",
      "name": "✅ Répondre 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        620,
        500
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extraire Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Message": {
      "main": [
        [
          {
            "node": "Message valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message valide ?": {
      "main": [
        [
          {
            "node": "Vérifier Utilisateur",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Vérifier Utilisateur": {
      "main": [
        [
          {
            "node": "Résultat Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résultat Auth": {
      "main": [
        [
          {
            "node": "Autorisé ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autorisé ?": {
      "main": [
        [
          {
            "node": "NLP — Analyse Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non Autorisé",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NLP — Analyse Question": {
      "main": [
        [
          {
            "node": "Construire SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire SQL": {
      "main": [
        [
          {
            "node": "Exécuter SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exécuter SQL": {
      "main": [
        [
          {
            "node": "Formater Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Réponse": {
      "main": [
        [
          {
            "node": "Envoyer WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "4eb4cff6-be45-4912-b3e4-f1b0d3645e9f",
  "tags": [],
  "staticData": null
}